* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    background-color: #aca7a7;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.header,
.header ul {
    display: flex;
    align-items: center;
}

.header {
    background-color: #fff;
    justify-content: space-between;
    padding-top: 10px;
}

.header li:first-child {
    margin-left: -42px;
}

.header li {
    list-style: none;
    padding: 0 20px;
}

.header li a {
    color: #000;
}

.header .find {
    color: #111;
    font-size: 20px;
    padding: 10px;
}

.title {
    margin-top: 10px;
}

.title .sub-title {
    font-size: larger;
    font-weight: bold;
}

.info {
    margin-left: 6px;
}

.info-01 {
    background-color: rgba(37, 172, 219, 1);
}

.info-02 {
    background-color: rgba(109, 197, 88, 1);
}

.info-03 {
    background-color: rgba(245, 246, 127, 1);
}

.info-04 {
    background-color: rgba(242, 88, 36, 1);
}

.info strong {
    font-size: larger;
    font-weight: bold;
}

.info-01 .arrow {
    display: block;
    background-color: blue;
}

.info-02 .arrow {
    background-color: green;
    display: block;
}

.info-03 .arrow {
    background-color: yellow;
    display: block;
}

.info-04 .arrow {
    background-color: red;
    display: block;
}

.arrow {
    margin-top: 40px;
    align-items: center;
    text-align: center;
}


/*  */

.admin,
.user {
    display: flex;
    color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 0 5px;
}

.admin .avatar,
.user .avatar {
    width: 26px;
    height: 26px;
    object-fit: cover;
    border-radius: 50%;
}

.user .name,
.admin .name {
    margin-left: 10px;
}

.search {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.search input[type="text"] {
    font-size: 18px;
    border-radius: 5px;
    background-color: #c4c0c0;
}

.search button {
    font-size: 18px;
    border-radius: 5px;
    background-color: #c4c0c0;
    color: #fff;
    padding: 0px 4px;
}

.home {
    margin-left: -20px;
}

.home,
.dropdown-btn {
    display: flex;
    justify-content: space-between;
}

.dropdown-btn {
    margin-top: 10px;
}

.home .sub,
.dropdown-btn .sub {
    font-size: 22px;
}

.dropdown-container .array {
    font-size: 16px;
}

.dropdown-btn {
    font-size: 20px;
    color: #818181;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-btn:hover {
    color: #f1f1f1;
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.fa-arrow-down {
    float: right;
}

.fa-arrow-left,
.fa-arrow-down {
    font-size: 16px;
}